<footer class="site-footer">

  <div class="wrapper">

      <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       <ul class="contact-list">
          <a href="http://www.lshtm.ac.uk/aboutus/people/funk.sebastian">Contact details</a> |
          {% include icon-github.html username=site.github_username %} |
          <a href="https://scholar.google.com/citations?user=""{{ site.scholar_profile }}"><span class"icon icon--scholar">{% include icon-scholar.png %}</span></a>
          {% include icon-twitter.html username=site.twitter_username %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
       </div>

      <div class="footer-col footer-col-3">
     <small>
        <b>Last Updated:</b> {{'now' | date: "%h %d, %Y"}}
      </small>
      </div>
    </div>

  </div>

</footer>
